{% extends 'base.html' %}
{% block content %}

<h1>{{ app_name }}</h1>
<p>{{ name }}</p>

{% if not products %}
<p>There are no product data in Virtual Shop.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.status }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}


<br/>

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product Entry</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Last login session: {{ last_login }}</h5>


{% endblock content %}
